/*
Name: Nick Marshall
Date: 2025-04-04
Description: External stylesheet for movie schedule.
*/


/* table style */
table {
    border: 2px solid #222;
    margin: auto;
    width: 80%;
}

/* table header and data cells */
th, td {
    border: 2px solid #222;
    padding: 0.5em;
    text-align: center;
}

/* align titles left */
.movie-title {
    text-align: left;
}

/* alternate row background colors */
tr:nth-child(odd) {
    background-color: #f4e1d2;
}

tr:nth-child(even) {
    background-color: #c5dff8;
}
