/* styles.css */
/* Name: Nick Marshall */
/* Date: February 11, 2025 */
body {
    background-color: #F5EFE6;
    color: #4B3832;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #8B5E3B;
    color: white;
    padding: 20px;
}

nav {
    background-color: #D4A373;
    padding: 10px;
}

main {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

footer {
    background-color: #8B5E3B;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
