/* styles.css */
/* Name: Nick Marshall */
/* Date: February 11, 2025 */
body {
    background-color: #F5EFE6;
    color: #4B3832;
}

header {
    background-color: #8B5E3B;
    color: white;
}

nav {
    background-color: #D4A373;
}

main {
    background-color: white;
}

footer {
    background-color: #8B5E3B;
    color: white;
}
